html {
  box-sizing: border-box !important; }

*, *:before, *:after {
  box-sizing: inherit !important; }

@media (max-width: 9999px) {
  html body #page_column {
    width: 992px; }
  html body #page_column form input {
    width: 260px !important; } }

@media (max-width: 992px) {
  html body #page_column {
    width: 768px; }
  html body #page_column form input {
    width: 260px !important; } }

@media (max-width: 768px) {
  html body #page_column {
    width: 100%; }
  html body #page_column form input {
    width: 100% !important; } }

body {
  width: 100% !important; }
  body #security, body #footer {
    display: none !important;
    float: none !important;
    clear: both !important; }
  body #page_wrapper {
    margin: 55px 0;
    padding-bottom: 0 !important;
    float: none;
    clear: both; }
  body #page_column {
    background-color: red;
    width: 992px;
    margin: 0 auto; }
    body #page_column * {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 16px !important;
      font-weight: 300;
      line-height: 24px !important;
      color: #000; }
    body #page_column #content {
      background-color: fuchsia;
      float: none;
      clear: both;
      border-radius: 2px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
      width: 100%;
      padding: 20px !important;
      border: 0; }
      body #page_column #content #company {
        background-color: green;
        padding-bottom: 0; }
      body #page_column #content > h1 {
        background-color: brown;
        float: none;
        clear: both;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        border: 0; }
      body #page_column #content #hosted-description {
        background-color: lightblue; }
        body #page_column #content #hosted-description > p {
          margin: 0; }
      body #page_column #content #errorExplanation {
        background-color: yellow;
        overflow: auto;
        border-radius: 0;
        float: none;
        clear: both;
        border: 0;
        margin-bottom: 0; }
        body #page_column #content #errorExplanation > h2 {
          width: auto;
          padding: 0;
          color: #000;
          background-color: transparent; }
        body #page_column #content #errorExplanation > p {
          padding: 0;
          color: #000; }
        body #page_column #content #errorExplanation > ul {
          padding-bottom: 0; }
          body #page_column #content #errorExplanation > ul li {
            color: #000; }
      body #page_column #content form > h2 {
        background-color: cyan;
        float: none;
        clear: both;
        padding-bottom: 0; }
      body #page_column #content form > div {
        background-color: lightgreen;
        border-radius: 0;
        float: none;
        clear: both;
        overflow: auto;
        width: auto;
        margin-bottom: 0;
        padding: 0; }
        body #page_column #content form > div > h2 {
          background-color: cyan;
          padding-bottom: 0; }
        body #page_column #content form > div > div {
          background-color: lightyellow;
          border-radius: 0;
          float: none;
          clear: both;
          margin-bottom: 0;
          padding: 0;
          width: auto; }
          body #page_column #content form > div > div > ul {
            background-color: darkred;
            padding-bottom: 0; }
            body #page_column #content form > div > div > ul li {
              padding-bottom: 0; }
          body #page_column #content form > div > div > p {
            float: none;
            clear: both;
            padding: 0; }
          body #page_column #content form > div > div > div {
            background-color: red;
            padding-bottom: 0;
            margin-bottom: 0; }
            body #page_column #content form > div > div > div > p {
              background-color: pink;
              float: none;
              clear: both; }
            body #page_column #content form > div > div > div > div {
              background-color: green;
              float: none;
              clear: both;
              margin-right: 0;
              padding-top: 0; }
          body #page_column #content form > div > div > div + div {
            background-color: orange;
            float: none;
            clear: both;
            margin-left: 0;
            margin-top: 0; }
        body #page_column #content form > div input, body #page_column #content form > div select {
          border-radius: 2px;
          float: none;
          clear: both;
          width: auto;
          margin: 0;
          padding: 2.5px 10px;
          border: solid 1px #9E9E9E; }
        body #page_column #content form > div label {
          display: inline-block; }
      body #page_column #content form .button_wrapper > a, body #page_column #content form .button_wrapper > #tl_popupSC5 {
        display: none !important; }
      body #page_column #content form .button_wrapper input {
        float: none;
        clear: both; }
      body #page_column #content form #apply_component_button, body #page_column #content form #vat_button, body #page_column #content form #subscription_submit {
        display: inline-block;
        border-radius: 4px;
        width: auto;
        height: auto;
        margin: 0;
        padding: 10px;
        border: 0;
        background: #757575;
        font-weight: 400;
        color: #fff;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); }
        body #page_column #content form #apply_component_button:active, body #page_column #content form #vat_button:active, body #page_column #content form #subscription_submit:active {
          box-shadow: none; }

html > body {
  visibility: visible !important; }

html > body {
  background-color: #E0E0E0; }
  html > body #page_wrapper #page_column #content {
    background-color: #fff; }
    html > body #page_wrapper #page_column #content #company {
      background-color: transparent; }
      html > body #page_wrapper #page_column #content #company a img {
        width: 120px !important;
        height: 40px !important; }
    html > body #page_wrapper #page_column #content h1 {
      background-color: transparent;
      margin-top: 30px;
      font-size: 36px !important;
      font-weight: 400 !important;
      line-height: 54px !important; }
    html > body #page_wrapper #page_column #content h2 {
      font-size: 24px !important;
      font-weight: 400 !important;
      line-height: 36px !important; }
    html > body #page_wrapper #page_column #content br {
      display: none !important;
      height: 0 !important;
      position: absolute !important;
      overflow: hidden !important; }
    html > body #page_wrapper #page_column #content #hosted-description {
      background-color: transparent;
      margin-top: 10px; }
    html > body #page_wrapper #page_column #content form label {
      font-weight: 400;
      display: inline-block; }
    html > body #page_wrapper #page_column #content form input {
      display: block; }
    html > body #page_wrapper #page_column #content form select {
      display: inline-block; }
    html > body #page_wrapper #page_column #content form h2 {
      background-color: transparent;
      margin-top: 30px; }
    html > body #page_wrapper #page_column #content form h2 + div {
      margin-top: 10px; }
    html > body #page_wrapper #page_column #content form h2 + div label {
      margin-top: 10px; }
    html > body #page_wrapper #page_column #content form h2 + div input, html > body #page_wrapper #page_column #content form h2 + div select {
      margin-top: 5px; }
    html > body #page_wrapper #page_column #content form .component_configuration {
      background-color: transparent; }
      html > body #page_wrapper #page_column #content form .component_configuration > div {
        border-radius: 2px;
        margin: 30px 0;
        margin-left: 0;
        padding: 10px;
        padding-top: 0;
        background-color: #EEEEEE; }
        html > body #page_wrapper #page_column #content form .component_configuration > div:first-child {
          margin-top: 0; }
        html > body #page_wrapper #page_column #content form .component_configuration > div:last-child {
          background-color: transparent;
          padding: 0; }
        html > body #page_wrapper #page_column #content form .component_configuration > div > div {
          background-color: transparent;
          float: none !important;
          clear: both !important; }
        html > body #page_wrapper #page_column #content form .component_configuration > div .component-info {
          background-color: #E0E0E0;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          margin-left: -10px;
          margin-right: -10px;
          margin-bottom: -10px;
          margin-top: 10px;
          padding: 10px;
          /* .component-price:after
								{
									display: inline-block;
									position: relative;
									content: "(per enhed)";
									margin-left: 10px;
									color: $grey600;
								} */ }
          html > body #page_wrapper #page_column #content form .component_configuration > div .component-info .component-multiplier {
            display: none; }
        html > body #page_wrapper #page_column #content form .component_configuration > div > .component-checkbox {
          position: absolute;
          margin-top: 25px; }
        html > body #page_wrapper #page_column #content form .component_configuration > div .checkbox.component-price {
          display: block;
          margin-left: -10px;
          margin-right: -10px;
          margin-bottom: -10px;
          margin-top: 10px;
          padding: 10px;
          padding-left: 35px;
          background-color: #E0E0E0;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px; }
    html > body #page_wrapper #page_column #content #summary {
      background-color: #EEEEEE;
      padding: 10px;
      border-radius: 2px; }
      html > body #page_wrapper #page_column #content #summary h2 {
        margin-top: 0;
        margin-bottom: 10px; }
      html > body #page_wrapper #page_column #content #summary > div {
        background-color: transparent;
        margin-top: 10px; }
        html > body #page_wrapper #page_column #content #summary > div ul {
          background-color: transparent;
          list-style: disc; }
          html > body #page_wrapper #page_column #content #summary > div ul li {
            background-image: none;
            padding-left: 0; }
        html > body #page_wrapper #page_column #content #summary > div#total {
          margin-left: -10px;
          margin-right: -10px;
          margin-bottom: -10px;
          padding: 10px;
          border-top: 0;
          background-color: #E0E0E0;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px; }
          html > body #page_wrapper #page_column #content #summary > div#total h3, html > body #page_wrapper #page_column #content #summary > div#total h3 span {
            font-weight: 400; }
          html > body #page_wrapper #page_column #content #summary > div#total > span {
            margin-left: 20px; }
            html > body #page_wrapper #page_column #content #summary > div#total > span > span {
              display: none; }
    html > body #page_wrapper #page_column #content #summary + input + h2 {
      visibility: hidden !important;
      position: absolute !important;
      z-index: -999999999 !important; }
    html > body #page_wrapper #page_column #content #summary + input + h2 + div {
      visibility: hidden !important;
      position: absolute !important;
      z-index: -999999999 !important; }
    html > body #page_wrapper #page_column #content #billing_info + h2 {
      visibility: hidden !important;
      position: absolute !important;
      z-index: -999999999 !important; }
    html > body #page_wrapper #page_column #content #billing_address {
      visibility: hidden !important;
      position: absolute !important;
      z-index: -999999999 !important; }
    html > body #page_wrapper #page_column #content #billing_address + h2 {
      visibility: hidden !important;
      position: absolute !important;
      z-index: -999999999 !important; }
    html > body #page_wrapper #page_column #content #contact_info {
      visibility: hidden !important;
      position: absolute !important;
      z-index: -999999999 !important; }
    html > body #page_wrapper #page_column #content #contact_info + h2 + div {
      background-color: #1aff8f;
      padding: 10px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
      html > body #page_wrapper #page_column #content #contact_info + h2 + div input, html > body #page_wrapper #page_column #content #contact_info + h2 + div label {
        line-height: 16px;
        float: left;
        margin: 0;
        width: auto !important; }
      html > body #page_wrapper #page_column #content #contact_info + h2 + div input {
        margin-top: 4px; }
      html > body #page_wrapper #page_column #content #contact_info + h2 + div label {
        margin-left: 10px; }
    html > body #page_wrapper #page_column #content .button_wrapper {
      background-color: #00E676;
      padding: 20px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; }
      html > body #page_wrapper #page_column #content .button_wrapper #subscription_submit {
        background: #00b35c;
        margin: 0 auto; }
    html > body #page_wrapper #page_column #content #billing_info {
      border-radius: 2px;
      padding: 10px;
      padding-top: 0;
      background-color: #EEEEEE;
      background-image: none; }
      html > body #page_wrapper #page_column #content #billing_info > div {
        background-color: transparent; }
      html > body #page_wrapper #page_column #content #billing_info #credit_card_info {
        /* background-color: $grey300;
						display: inline-block;
						margin-top: 20px;
						padding: 10px;
						border-radius: 10px; */ }
        html > body #page_wrapper #page_column #content #billing_info #credit_card_info .fieldWithErrors {
          font-weight: 400;
          margin-top: 10px;
          display: block; }
        html > body #page_wrapper #page_column #content #billing_info #credit_card_info .fieldWithErrors + br + .fieldWithErrors {
          margin-top: 5px; }
        html > body #page_wrapper #page_column #content #billing_info #credit_card_info input, html > body #page_wrapper #page_column #content #billing_info #credit_card_info select {
          margin-top: 5px; }
        html > body #page_wrapper #page_column #content #billing_info #credit_card_info #subscription_payment_profile_attributes_cvv {
          margin-top: 5px; }
        html > body #page_wrapper #page_column #content #billing_info #credit_card_info label[for="subscription_payment_profile_attributes_expiration_month"] {
          display: block; }
        html > body #page_wrapper #page_column #content #billing_info #credit_card_info > div {
          background-color: transparent; }
          html > body #page_wrapper #page_column #content #billing_info #credit_card_info > div > p {
            background-color: transparent; }
            html > body #page_wrapper #page_column #content #billing_info #credit_card_info > div > p .hint {
              display: none; }
        html > body #page_wrapper #page_column #content #billing_info #credit_card_info #credit_card_logos {
          background-color: #E0E0E0;
          display: inline-block;
          margin: 20px;
          padding: 5px;
          border-radius: 2px;
          display: none; }
          html > body #page_wrapper #page_column #content #billing_info #credit_card_info #credit_card_logos img {
            float: left;
            margin-right: 5px; }
            html > body #page_wrapper #page_column #content #billing_info #credit_card_info #credit_card_logos img:last-child {
              margin-right: 0; }
    html > body #page_wrapper #page_column #content #errorExplanation {
      margin-top: 30px;
      margin-left: -20px;
      margin-right: -20px;
      width: auto;
      padding: 10px;
      background-color: #E53935;
      border-bottom: solid 1px #D32F2F; }
      html > body #page_wrapper #page_column #content #errorExplanation > h2 {
        color: #fff;
        background-color: #D32F2F;
        border-radius: 0;
        display: block;
        width: auto;
        float: none;
        clear: both;
        padding: 10px;
        margin-left: -10px;
        margin-top: -10px;
        margin-right: -10px; }
      html > body #page_wrapper #page_column #content #errorExplanation > p {
        margin-top: 10px;
        color: #fff; }
      html > body #page_wrapper #page_column #content #errorExplanation > ul {
        margin-top: 10px; }
        html > body #page_wrapper #page_column #content #errorExplanation > ul li {
          color: #fff; }
