body {
  /* #content
	{
		border-radius: 2px;
		border: 0;
		box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
	} */ }
  body #security {
    display: none !important; }

html > body {
  visibility: visible !important; }
