@import "./_colors.scss";

html
{
	box-sizing: border-box !important;
}

*, *:before, *:after
{
	box-sizing: inherit !important;
}


@media (max-width: 9999px)
{
	html body #page_column
	{
		width: 992px;
	}

	html body #page_column form input
	{
		width: 260px !important;
	}
}


@media (max-width: 992px)
{
	html body #page_column
	{
		width: 768px;
	}

	html body #page_column form input
	{
		width: 260px !important;
	}
}


@media (max-width: 768px)
{
	html body #page_column
	{
		width: 100%;
	}

	html body #page_column form input
	{
		width: 100% !important;
	}

	html body div#do-the-math
	{
		overflow-x: scroll !important;
	}

	html body div#do-the-math table
	{
		width: 576px !important; /* x 1.5 of 768px */
	}

	html body div#do-the-math tr th, html body div#do-the-math tr td
	{
		padding: 2px !important;
	}
}


body
{
	width: 100% !important;

	#security, #footer
	{
		display: none !important;
		float: none !important;
		clear: both !important;
	}

	#page_wrapper
	{
		margin: 55px 0;
		padding-bottom: 0 !important;
		float: none;
		clear: both;
	}

	#page_column
	{
		background-color: red;

		width: 992px;
		margin: 0 auto;

		*
		{
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
			font-size: 16px !important;
			font-weight: 300;
			line-height: 16px * 1.5 !important;
			color: #000;
		}

		#content
		{
			background-color: fuchsia;

			float: none;
			clear: both;
			border-radius: 2px;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
			width: 100%;
			padding: 20px !important;
			border: 0;

			#company
			{
				background-color: green;

				padding-bottom: 0;
			}

			> h1
			{
				background-color: brown;

				float: none;
				clear: both;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;
				border: 0;
			}

			#hosted-description
			{
				background-color: lightblue;

				> p
				{
					margin: 0;
				}
			}

			#errorExplanation
			{
				background-color: yellow;

				overflow: auto;
				border-radius: 0;
				float: none;
				clear: both;
				border: 0;
				margin-bottom: 0;

				> h2
				{
					width: auto;
					padding: 0;
					color: #000;
					background-color: transparent;
				}

				> p
				{
					padding: 0;
					color: #000;
				}

				> ul
				{
					padding-bottom: 0;

					li
					{
						color: #000;
					}
				}
			}

			form
			{
				> h2
				{
					background-color: cyan;

					float: none;
					clear: both;
					padding-bottom: 0;
				}

				> div
				{
					background-color: lightgreen;

					border-radius: 0;
					float: none;
					clear: both;
					overflow: auto;
					width: auto;
					margin-bottom: 0;
					padding: 0;

					> h2
					{
						background-color: cyan;

						padding-bottom: 0;
					}

					> div
					{
						background-color: lightyellow;

						border-radius: 0;
						float: none;
						clear: both;
						margin-bottom: 0;
						padding: 0;
						width: auto;

						> ul
						{
							background-color: darkred;

							padding-bottom: 0;

							li
							{
								padding-bottom: 0;
							}
						}

						> p
						{
							float: none;
							clear: both;
							padding: 0;
						}

						> div
						{
							background-color: red;

							padding-bottom: 0;
							margin-bottom: 0;

							> p
							{
								background-color: pink;

								float: none;
								clear: both;
							}

							> div
							{
								background-color: green;

								float: none;
								clear: both;
								margin-right: 0;
								padding-top: 0;
							}
						}

						> div + div
						{
							background-color: orange;

							float: none;
							clear: both;
							margin-left: 0;
							margin-top: 0;
						}
					}

					input, select
					{
						border-radius: 2px;
						float: none;
						clear: both;
						width: auto;
						margin: 0;
						padding: 2.5px 10px;
						border: solid 1px $grey500;

					}

					label
					{
						display: inline-block;
					}
				}

				.button_wrapper
				{
					> a, > #tl_popupSC5
					{
						display: none !important;
					}

					input
					{
						float: none;
						clear: both;
					}
				}

				#apply_component_button, #vat_button, #subscription_submit
				{
					display: inline-block;
					border-radius: 4px;
					width: auto;
					height: auto;
					margin: 0;
					padding: 10px;
					border: 0;
					background: $grey600;
					font-weight: 400;
					color: #fff;
					box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);

					&:active
					{
						box-shadow: none;
					}
				}
			}
		}
	}
}


html > body
{
	visibility: visible !important;
}

html > body
{
	background-color: $grey300;

	#page_wrapper
	{
		#page_column
		{
			#content
			{
				background-color: #fff;

				#company
				{
					background-color: transparent;

					a img
					{
						width: 120px !important;
						height: 40px !important;
					}
				}

				h1
				{
					background-color: transparent;
					margin-top: 30px;
					font-size: 36px !important;
					font-weight: 400 !important;
					line-height: 36px * 1.5 !important;
				}

				h2
				{
					font-size: 24px !important;
					font-weight: 400 !important;
					line-height: 24px * 1.5 !important;

				}

				br
				{
					display: none !important;
					height: 0 !important;
					position: absolute !important;
					overflow: hidden !important;
				}

				#hosted-description
				{
					background-color: transparent;
					margin-top: 10px;
				}

				form
				{
					label
					{
						font-weight: 400;
						display: inline-block;
					}

					input
					{
						display: block;
					}

					select
					{
						display: inline-block;
					}

					h2
					{
						background-color: transparent;
						margin-top: 30px;
					}

					h2 + div
					{
						margin-top: 10px;
					}

					h2 + div label
					{
						margin-top: 10px;
					}

					h2 + div input, h2 + div select
					{
						margin-top: 5px;
					}

					.component_configuration
					{
						background-color: transparent;

						> div
						{
							border-radius: 2px;
							margin: 30px 0;
							margin-left: 0;
							padding: 10px;
							padding-top: 0;
							background-color: $grey200;

							&:first-child
							{
								margin-top: 0;
							}

							&:last-child
							{
								background-color: transparent;
								padding: 0;
							}

							> div
							{
								background-color: transparent;
								float: none !important;
								clear: both !important;
							}

							.component-description
							{
								// color: $grey500;
							}

							.component-info
							{
								background-color: $grey300;
								border-bottom-left-radius: 2px;
								border-bottom-right-radius: 2px;
								margin-left: -10px;
								margin-right: -10px;
								margin-bottom: -10px;
								margin-top: 10px;
								padding: 10px;

								.component-multiplier
								{
									display: none;
								}

								/* .component-price:after
								{
									display: inline-block;
									position: relative;
									content: "(per enhed)";
									margin-left: 10px;
									color: $grey600;
								} */
							}

							> .component-checkbox
							{
								position: absolute;
								margin-top: 25px;
							}

							.checkbox.component-price
							{
								display: block;
								margin-left: -10px;
								margin-right: -10px;
								margin-bottom: -10px;
								margin-top: 10px;
								padding: 10px;
								padding-left: 35px;
								background-color: $grey300;
								border-bottom-left-radius: 2px;
								border-bottom-right-radius: 2px;
							}
						}

						> div + div + div + div
						{
							display: none !important;
						}
					}
				}

				#summary
				{
					background-color: $grey200;
					padding: 10px;
					border-radius: 2px;

					display: none !important; /* HIDE */

					h2
					{
						margin-top: 0;
						margin-bottom: 10px;
					}

					> div
					{
						background-color: transparent;
						margin-top: 10px;

						ul
						{
							background-color: transparent;
							list-style: disc;

							li
							{
								background-image: none;
								padding-left: 0;
							}
						}

						&#total
						{

							margin-left: -10px;
							margin-right: -10px;
							margin-bottom: -10px;
							padding: 10px;
							border-top: 0;
							background-color: $grey300;
							border-bottom-left-radius: 2px;
							border-bottom-right-radius: 2px;

							h3, h3 span
							{
								font-weight: 400;
							}

							> span
							{
								margin-left: 20px;

								> span // "plus applicable taxes"
								{
									display: none;
								}
							}

							> span + > span
							{
								// spinner
							}
						}
					}
				}

				#summary + input + h2
				{
					visibility: hidden !important;
					position: absolute !important;
					z-index: -999999999 !important;
				}

				#summary + input + h2 + div
				{
					visibility: hidden !important;
					position: absolute !important;
					z-index: -999999999 !important;
				}

				#billing_info
				{
				}

				#billing_info + h2
				{
					visibility: hidden !important;
					position: absolute !important;
					z-index: -999999999 !important;
				}

				#billing_address
				{
					visibility: hidden !important;
					position: absolute !important;
					z-index: -999999999 !important;
				}

				#billing_address + h2
				{
					visibility: hidden !important;
					position: absolute !important;
					z-index: -999999999 !important;
				}

				#contact_info
				{
					visibility: hidden !important;
					position: absolute !important;
					z-index: -999999999 !important;
				}

				#component_configuration
				{
					visibility: hidden !important;
					position: absolute !important;
					z-index: -999999999 !important;
				}

				form > div + input + h2
				{
					display: none !important;
				}

				#coupon-code-container
				{
					visibility: hidden !important;
					position: absolute !important;
					z-index: -999999999 !important;
				}



				#contact_info + h2 + div
				{
					background-color: lighten($greenA400, 10);
					padding: 10px;
					margin-left: -20px;
					margin-right: -20px;
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;

					input, label
					{
						line-height: 16px;
						float: left;
						margin: 0;
						width: auto !important;
					}

					input
					{
						margin-top: 4px; // 16px / 4
					}



					label
					{
						margin-left: 10px;
					}
				}

				.button_wrapper
				{
					background-color: $greenA400;
					padding: 20px;
					margin-left: -20px;
					margin-right: -20px;
					margin-bottom: -20px;
					border-bottom-left-radius: 2px;
					border-bottom-right-radius: 2px;

					#subscription_submit
					{
						background: darken($greenA400, 10);
						margin: 0 auto;
					}
				}

				#billing_info
				{
					border-radius: 2px;
					padding: 20px;
					padding-top: 0;
					background-color: $grey200;
					background-image: none;

					> div
					{
						background-color: transparent;
					}

					#credit_card_info
					{
						/* background-color: $grey300;
						display: inline-block;
						margin-top: 20px;
						padding: 10px;
						border-radius: 10px; */

						.fieldWithErrors
						{
							font-weight: 400;
							margin-top: 10px;
							display: block;
						}

						.fieldWithErrors + br + .fieldWithErrors
						{
							margin-top: 5px;
						}

						input, select
						{
							margin-top: 5px;
						}

						#subscription_payment_profile_attributes_full_number
						{

						}

						#subscription_payment_profile_attributes_cvv
						{
							margin-top: 5px;
						}

						label[for="subscription_payment_profile_attributes_expiration_month"]
						{
							display: block;
						}

						> div
						{
							background-color: transparent;

							> p
							{
								background-color: transparent;

								.hint
								{
									display: none;
								}
							}
						}

						#credit_card_logos
						{
							background-color: $grey300;
							display: inline-block;
							margin: 20px;
							padding: 5px;
							border-radius: 2px;

							display: none;

							img
							{
								float: left;
								margin-right: 5px;

								&:last-child
								{
									margin-right: 0;
								}
							}
						}
					}
				}

				#errorExplanation
				{
					margin-top: 30px;
					margin-left: -20px;
					margin-right: -20px;
					width: auto;
					padding: 10px;
					background-color: $red600;
					border-bottom: solid 1px $red700;

					> h2
					{
						color: #fff;
						background-color: $red700;
						border-radius: 0;
						display: block;
						width: auto;
						float: none;
						clear: both;
						padding: 10px;
						margin-left: -10px;
						margin-top: -10px;
						margin-right: -10px;
					}

					> p
					{
						margin-top: 10px;
						color: #fff;
					}

					> ul
					{
						margin-top: 10px;

						li
						{
							color: #fff;
						}
					}
				}
			}

			div#do-the-math
			{
				margin-top: 10px;
				background-color: transparent;

				h2
				{
					float: none;
					clear: both;
				}

				div
				{
					border-radius: 2px;
					margin-top: 10px;
					padding: 20px;
					background-color: $grey200;

					table
					{
						border-collapse: collapse;
						width: 100%;

						.highlight
						{
							background-color: $grey300;
						}

						.line
						{
							border-bottom: solid 1px #000;

							&.sum
							{
								border-bottom: 0;

								td, th
								{
									padding-bottom: 20px;
									font-weight: 600;
								}
							}

							&.total
							{
								border-bottom: solid 2px #000;

								td, th
								{
									font-weight: 600;
								}
							}
						}

						thead
						{
							td, th
							{
								font-weight: 600 !important;
								padding-bottom: 10px;
							}
						}

						tfoot
						{
							td, th
							{
								font-weight: 400;
							}
						}

						tr
						{
							td
							{
								text-align: left;
								font-weight: 400;
							}

							th
							{
								text-align: right;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
}
