$grid-cell-height: 330px;
$grid-cell-spacing: 10px;

@mixin cell-shadow-active
{
	box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	border-bottom-color: $white;
}

@mixin cell-shadow-inactive
{
	box-shadow: none;
	border-bottom-color: $grey300;
}

@media (min-width: 62em)
{
	.col-lg-4
	{
	    width: 33.3% !important; // alignment fix - some browsers fail to calculate the default value: 33.33333% because decimals! Yay!
	}
}

body
{
	background-color: $grey200;


	@include media-breakpoint-up(md) // only allow editing on tablets and browsers
	{
		&.state-editable
		{
			.container.grid
			{
				.col-lg-8, .col-lg-4
				{
					transition: opacity cubic-bezier(.5, 1, 0.15, 1) .25s;

					&.state-editing-active, &:hover
					{
						> div
						{
							@include cell-shadow-active;

							> nav
							{
								top: 0;
							}
						}
					}

					> div
					{
						@include cell-shadow-inactive;
						transition: box-shadow cubic-bezier(.5, 1, 0.15, 1) .25s, border-bottom-color cubic-bezier(.5, 1, 0.15, 1) .25s;

						> nav
						{
							transition: top cubic-bezier(.5, 1, 0.15, 1) .25s;
							transition-delay: .25s;
						}
					}
				}
			}
		}

		&.state-editing
		{
			.container.grid
			{
				.col-lg-8, .col-lg-4
				{
					opacity: 0.70;

					> div > nav
					{
						display: none;

						& + menu
						{
							display: none;
						}

						& + menu + div
						{
							top: 0;
						}
					}

					&:hover > div
					{
						@include cell-shadow-inactive;
					}

					&.state-editing-active
					{
						opacity: 1;

						> div
						{
							@include cell-shadow-active;

							> nav
							{
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

.container.grid
{
	margin-top: 70px;
	margin-bottom: 70px + 140; // 140px is the height of the bottom controls

	.col-lg-8, .col-lg-4
	{
		&:last-child > div
		{
			margin-right: 0;

			@include media-breakpoint-down(md)
			{
				margin-right: 10px;
			}
		}

		> div
		{
			min-height: $grid-cell-height;
			overflow-y: hidden;
			margin-right: $grid-cell-spacing;
			margin-bottom: $grid-cell-spacing - 1; // equal cell spacing, visually - except, of course, for IE9 which can suck a bag of dicks!
			border-radius: 2px;
			border-bottom: solid 1px $grey300;
			background-color: $white;

			@include media-breakpoint-down(md)
			{
				margin-left: 10px;
				margin-right: 10px;
			}

			nav a
			{
				border-bottom: solid 1px transparent;
				text-align: center;
				text-decoration: none;
				color: $white;

				i
				{
					display: block;
					width: 24px;
					height: 24px;
					margin: 0 auto;
				}
			}

			nav a:hover
			{
				border-bottom: solid 1px $white;
			}

			> nav
			{
				position: relative;
				z-index: 2;
				left: 0;
				opacity: .95;
				right: $grid-cell-spacing;
				top: -90px;
				height: 90px;
				background-color: $grey800;
				overflow-x: hidden; // fuck you, IE9! Suck a bag of dicks!

				> a
				{
					display: block;
					position: absolute;
					left: 20px;
					margin-top: ceil(90px / 4);

					& + a, & + nav + a
					{
						left: auto;
						right: 20px;
					}

					i
					{
						margin-bottom: 2px;
					}
				}

				> nav
				{
					position: absolute;
					left: 20px * 6;
					right: 20px * 6;
					text-align: center;
					height: 90px;

					> a
					{
						display: inline-block;
						margin-top: ceil(90px / 2.5);
						margin-right: $grid-cell-spacing;
					}
				}

				& + menu + div
				{
					top: -90px;
				}
			}

			> menu
			{
				position: absolute;
				right: 0;
				top: 0;
				margin: 0;
				padding: 0;
				text-align: right;
				z-index: 1;

				@include media-breakpoint-up(lg)
				{
					display: none;
				}

				@include media-breakpoint-down(sm)
				{
					display: none;
				}

				a
				{
					display: inline-block;
					border-radius: 2px;
					width: 24px;
					height: 24px;
					margin-right: $grid-cell-spacing * 2;
					margin-top: $grid-cell-spacing;
					opacity: .95;
					color: $white;
					background-color: $grey800;
				}
			}

			> div
			{
				position: relative;
				padding: 20px;

				@include media-breakpoint-only(xs)
				{
					padding: 10px;
				}
			}
		}
	}
}
