$grid-cell-height: 330px;
$grid-cell-spacing: 10px;

@mixin cell-shadow-active
{
	box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	border-bottom-color: $white;
}

@mixin cell-shadow-inactive
{
	box-shadow: none;
	border-bottom-color: $grey300;
}

body
{
	background-color: $grey200;

	&.state-editable
	{
		.container.grid
		{
			.col-lg-8, .col-lg-4
			{
				transition: opacity ease-out .1s;

				&.state-active, &:hover
				{
					> div
					{
						@include cell-shadow-active;

						> nav
						{
							top: 0;
						}
					}
				}

				> div
				{
					@include cell-shadow-inactive;
					transition: box-shadow ease-out .1s, border-bottom-color ease-out .1s;

					> nav
					{
						transition: top ease .2s;
						transition-delay: .2s;
					}
				}
			}
		}
	}

	&.state-editing
	{
		.container.grid
		{
			.col-lg-8, .col-lg-4
			{
				opacity: 0.75;

				> div > nav
				{
					display: none;

					& + div
					{
						top: 0;
					}
				}

				&:hover > div
				{
					@include cell-shadow-inactive;
				}

				&.state-active
				{
					opacity: 1;

					> div
					{
						@include cell-shadow-active;

						> nav
						{
							display: block;
						}
					}
				}
			}
		}

		/* display bottom reset/preview/save bar */
	}
}

.container.grid
{
	margin-top: 70px;
	margin-bottom: 70px;

	.col-lg-8, .col-lg-4
	{
		&:last-child > div
		{
			margin-right: 0;

			@include media-breakpoint-down(md)
			{
				margin-right: 10px;
			}
		}

		> div
		{
			min-height: $grid-cell-height;
			overflow-y: hidden;
			margin-right: $grid-cell-spacing;
			margin-bottom: $grid-cell-spacing - 1; /* equal cell spacing, visually - except, of course, for IE9 which can suck a bag of dicks! */
			border-radius: 2px;
			background-color: $white;

			@include media-breakpoint-down(md)
			{
				margin-left: 10px;
				margin-right: 10px;
			}

			> nav
			{
				position: relative;
				z-index: 1;
				left: 0;
				right: $grid-cell-spacing;
				top: -90px;
				height: 90px;
				padding-top: ceil(90px / 4);
				background-color: $grey800;
				overflow-x: hidden; /* fuck you, IE9! Suck a bag of dicks! */

				> a
				{
					position: absolute;
					left: 20px;
					display: inline-block;
					color: $white;
					text-align: center;
					text-decoration: none;

					& + a, & + nav + a
					{
						left: auto;
						right: 20px;
					}

					i
					{
						display: block;
						width: 24px;
						height: 24px;
						margin: 0 auto;
					}
				}

				> nav
				{
					position: absolute;
					left: 20px + 24;
					right: 20px + 24;
					top: 0;
					bottom: 0;
					text-align: center;

					a
					{
						color: $white;
						text-decoration: none;

						i
						{
							line-height: 90px;
						}
					}
				}

				& + div
				{
					top: -90px;
				}
			}

			> div
			{
				position: relative;
				padding: 20px;

				@include media-breakpoint-only(xs)
				{
					padding: 10px;
				}
			}
		}
	}
}
