/* <object type="image/svg+xml" data="map.svg"></object>
<?xml-stylesheet type="text/css" href="map.css"?> */

g[id] path
{
	stroke: #000;
	fill: #000;
}

g[id="5900"] path
{
	fill: lime;
	stroke: lime;
}

g[id="5700"] path
{
	fill: lime;
	stroke: lime;
}
